<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31750329140-u98efms53m1mvbde71uufro7ts5kfcak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31750329140-u98efms53m1mvbde71uufro7ts5kfcak</string>
	<key>API_KEY</key>
	<string>AIzaSyAb2E0uXEUWQT_tgcS7X-37X11quGfMMC4</string>
	<key>GCM_SENDER_ID</key>
	<string>31750329140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grounded.app</string>
	<key>PROJECT_ID</key>
	<string>grounded-440dc</string>
	<key>STORAGE_BUCKET</key>
	<string>grounded-440dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31750329140:ios:e97628a480798f6df6cb61</string>
</dict>
</plist>